

@{
    ViewBag.Title = "title";
    Layout = "_LayoutForAdmin";
}
@model Device
<div class="container">
    <h1>Edit Device</h1>
    <form  asp-controler="Device" asp-action="Edit" method="post">
        <div class="mt-3">
            <div class="mb-1">
                <input value="@ViewBag.device.Id" type="hidden" asp-for="DeviceName" class="form-control" id="deviceId" name="Id" />
            </div>
            <div class="mb-1">
                <label class="form-label">Device Name</label>
                <input value="@ViewBag.device.DeviceName" type="text" asp-for="DeviceName" class="form-control" id="deviceName" name="DeviceName"/>
            </div>
            <div class="mb-1">
                <label class="form-label"> Device Code </label>
                <input value="@ViewBag.device.DeviceCode" type="text" asp-for="DeviceCode" class="form-control" id="deviceCode" name="DeviceCode"/>
            </div>
            <div class="mb-1">
                <label class="form-label">Device Category </label>
                <select class="form-select" asp-for="DeviceCategoryId">
                    @foreach (var category in ViewBag.categories)
                    {
                        <option selected="@((ViewBag.device?.DeviceCategory.CategoryTitle == category.CategoryTitle) ? "selected" : null)" value="@category.Id">@category.CategoryTitle</option>
                    }
                </select>
            </div>
            <div class="mb-1">
                <label class="form-label" asp-for="Status">Status: </label>
                <select class="form-select">
                    @foreach (var status in ViewBag.Statuses as List<Status>)
                    {
                        <option selected="@((ViewBag.Status == status) ? "selected" : null)" value="@status">@status</option>
                    }
                </select>
            </div>
            <div class="mb-1">
                <label class="form-label">Date Of Entry</label>
                <input value="@ViewBag.device.DateOfEntry.ToString("yyyy-MM-dd")" type="date" asp-for="DateOfEntry" class="form-control" id="deviceDateOfEntry" name="DateOfEntry"/>
            </div>
            <div class="mb-3">
                <button class="btn  btn-primary" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>
