@model dynamic

@{
    ViewBag.Title = "Device";
    Layout = "_LayoutForAdmin";
}

<h1>Devices</h1>
<div class="container">
    <div class="row mb-2">
        <div class="col-md-6">
            <input type="text" id="search-bar" placeholder="...Search Device by Name or Code" onchange="handleOnChangeSearch()">
            <span>
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        Filter by
                        <select id="filter-option" onchange="handleOnChangeFilterOption()">
                            <option value="default" >Select to filter</option>
                            <option  value="Category">Category</option>
                            <option   value="Status">Status</option>
                        </select>
                    </div>
                    
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-md-6">
                            <span  id="filter-value"></span>
                        </div>
                        <div class="col-md-4">
                            <div id="filter-option-items" style="display:none">
                                <select id="category-options" onchange="handleOnChangeFilterOptionItems()" style="display:none">
                                    <option value="default">Category Name</option>
                                    @foreach (var category in ViewBag.categories)
                                    {
                                        <option value="@category.Id">@category.CategoryTitle</option>
                                    }
                                </select>

                                <select id="status-options"  onchange="handleOnChangeFilterOptionItems()" style="display:none">
                                    <option value="default">Status name</option>
                                    @foreach (var status in ViewBag.Statuses as List<Status>)
                                    {
                                        <option value="@status">@status</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        
        </div>
        
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Device Name</th>
                <th scope="col">Device Code</th>
                <th scope="col">Device Category</th>
                <th scope="col">Status</th>
                <th scope="col">Date Of Entry</th>
                <th scope="col">Function</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var device in ViewBag.devices)
            {
                <tr>
                    <th scope="row">@device?.Id</th>
                    <td>@device?.DeviceName</td>
                    <td>
                        @device?.DeviceCode
                    </td>
                    <td>
                        @device?.DeviceCategory.CategoryTitle
                    </td>
                    <td>
                        @device.Status.ToString()
                    </td>
                    <td>
                        @device.DateOfEntry.ToString("dd/M/yyyy")
                    </td>
                    <td>
                        <button class="btn btn-primary" onclick="handleEditDevice(@device.Id)">Edit</button>
                        <button class="btn btn-danger" onclick="handleDeleteDevice(@device.Id)">Delete</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
